{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav class="navbar navbar-light bg-white shadow-sm mb-4">
            <div class="container-fluid">
                <span class="navbar-brand">Xodimlar va Davomat Boshqaruvi</span>
                <div>
                    <span class="navbar-text">Foydalanuvchi: Admin</span>
                </div>
            </div>
        </nav>

        <!-- Home Section -->
        <section id="home" class="mt-5">
            <h2>Xush Kelibsiz!</h2>
            <p>Ishxona tizimida xodimlar va davomatni boshqaring.</p>
        </section>
    </div>

{% endblock content%}