{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav class="navbar navbar-light bg-white shadow-sm mb-4">
            <div class="container-fluid">
                <span class="navbar-brand">Xodimlar va Davomat Boshqaruvi</span>
                <div>
                    <span class="navbar-text">Foydalanuvchi: Admin</span>
                </div>
            </div>
        </nav>

        <!-- Welcome Message -->
        <section id="welcome">
            <h2 class="mb-4">Xush Kelibsiz!</h2>
            <p>Ishxona tizimiga xush kelibsiz. Bu yerda xodimlar ro'yxatini va ularning davomatini boshqarishingiz mumkin.</p>
        </section>
    </div>
{% endblock content%}